 // Variables 
$backgroundColor: hsl(218, 23%, 16%);
$cardBackgroundColor:  hsl(217, 19%, 24%);
$mainColor: hsl(150, 100%, 66%);
$textColor: hsl(193, 38%, 86%);
$fontSize: 28px;
$fontWeight: 800;

// Main Code
* {
   font-family: "system-ui";
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

body {

   height: 100vh;
   background-color: $backgroundColor;
   position: relative;

   .container {
     min-height: 200px;
     width: 340px;
     background-color: $cardBackgroundColor;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     border-radius: 4px;
     padding: 30px;

     .id {
       color: $mainColor;
       font-weight: $fontWeight;
     }

     .advice {
       padding: 20px 0;
       min-height: 130px;
       color: $textColor;
       font-weight: $fontWeight;
       font-size: $fontSize;
     }
 
     .puse {
       color: hsl(217, 19%, 38%);
       width: 300px;
     }

     .cube {
       width: 55px;
       height: 55px;
       position: relative;
       bottom: -55px;
       background-color: $mainColor;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       transition: .4s;

       &:hover {
         box-shadow: 1px 1px 10px 4px $mainColor;
       }

       .cube-shape {
         width: 40%;
         height: 40%;
       }

     }
     
   }

   .attribution {
     position: absolute;
     bottom: 0;
     text-align: center;
     color: #555;
     padding: 20px;
     width: 100%;

     a {
      text-decoration: none;
       color: #777;
      
     }

   }

 }

 @media (min-width: 760px) {
   body {
     .container {
       width: 500px;
       border-radius: 10px;
     }
   }
 }
